body {
    background-color: url("https://media.istockphoto.com/photos/mountain-peak-zugspitze-summer-day-at-lake-eibsee-near-garmisch-picture-id1042404662?k=20&m=1042404662&s=612x612&w=0&h=Bjb0K0_frNQp9RSSrcERDe_tkh8E3iBs5dGcIrApD4E=");
    margin: 1%;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-weight: 20% ;
}

#title {
    color: rgb(48, 48, 235);
}

.subtitle {
    color: rgb(94, 94, 199);
}